@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

body {
  background-color: rgb(245, 191, 182);
}
.title-bar {
  display: flex;
  justify-content: space-between;
  padding: 1% 2% 0 2%;
  border-bottom: 2px solid rgba(125, 129, 160, 0.904);
}
.title-bar h1 {
  font-family: 'Roboto Mono';
  font-size: 3rem;
}
.login {
  display: flex;
  align-items: center;
  justify-items: center;
}
.all-cards-container {
  margin-top: 2%;
  padding: 0 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  background-color: rgba(125, 129, 160, 0.904);
  padding: 3%;
  margin: 2%;
  width: 300px;
  border-radius: 5px;
  
}
.aspirations-index {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
}
.active-container {
  padding: 0 15% 0 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start; 
  justify-items: center;
}
.container {
  max-width: 50%;
}
.active-card {
  padding: 0 4%;
}
.input {
  border: 1px solid rgba(125, 129, 160, 0.904);
  background-color: rgba(177, 181, 214, 0.904);
}
span {
  color: rgb(107, 112, 147);
  border-bottom: 4px solid rgba(125, 129, 160, 0.904); 
}